TimelineCollectionView.xcodeproj/project.xcworkspace/xcuserdata/civetta.xcuserdatad/WorkspaceSettings.xcsettings
TimelineCollectionView.xcodeproj/xcuserdata/civetta.xcuserdatad/xcschemes/TimelineCollectionView.xcscheme
TimelineCollectionView.xcodeproj/xcuserdata/civetta.xcuserdatad/xcschemes/xcschememanagement.plist
.idea
XBCollectionViewTimelineSample.xcodeproj/project.xcworkspace/xcuserdata/civetta.xcuserdatad/WorkspaceSettings.xcsettings
XBCollectionViewTimelineSample.xcodeproj/xcuserdata/civetta.xcuserdatad/xcschemes/TimelineCollectionView.xcscheme
XBCollectionViewTimelineSample.xcodeproj/xcuserdata/civetta.xcuserdatad/xcschemes/xcschememanagement.plist
